


  @import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
 

  @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,500&display=swap');




body{
    padding: 0px;
    margin: 0px;
    background-color:rgb(249, 245, 255);
}
nav {
    background-color:lavender;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 0px;
    margin:-4px 0px;
}
nav  li {
    list-style: none;
    padding: 0px 23px;
}
nav ul {
    display: flex;
}
nav li a{
    text-decoration:none ;
    color: black;
    font-family: 'Tilt Prism', cursive;
    font-weight: bold;
    font-size: 15px;
}
nav li a:hover{
    color:brown;
}
.logo{
    /* font-family: 'Black Ops One', cursive;    font-weight: bold; */
    font-family: 'Lobster', cursive;
    font-size: 1.6rem;
    margin: 0px 70px;
    color: darkgreen;
}
.container {
    min-height:100vh;
    max-width: 60vw;
    margin: auto;
    font-family: 'Bricolage Grotesque', sans-serif;

}
.container h1{
    padding: 23px 0px;
    font-size: 1.9rem;
    color: maroon;
}
.container form{
    display: flex;
    flex-direction: column;
}
.container form label{
    font-size: 24px;
}
.container form input[type='number'],select,label{
    width: 23vw;
    font-size: 19px;
    margin-bottom: 23px;
}
footer{
    text-align: center;
    font-size: 20px;
    padding: 34px;
    color:darkmagenta;

    
}
.btn{
    cursor: pointer;
    padding: 8px 0px;
    width: 8vw;
    border: 2px solid azure;
    font-weight: bold;
    border-radius: 10px;
    font-size:20px;
    margin: 12px 0px;
    font-family: 'Bricolage Grotesque', sans-serif;
    background-color:rgb(216, 185, 233);
}
.btn:hover{
    background-color:azure;
    text-decoration: underline;
}
.output h2 {
    text-align: center;
  color: rgb(142, 111, 90);
    font-weight: bold;
    padding: 8px 0px;
}
.output{
    display: none;
}
.output table {
    text-align: center;
    border: 2px solid black;
    font-size: 20px;
    width: 50vw;
}
.output table th{
    padding: 3px;
}

/* responsiveness */
@media (max-width: 800px){
    nav {

        flex-direction: column;

    }
    .logo{
        font-size:14px;
    }
    nav ul {
    padding: 0px;

    }
    nav li a{
        font-size: 12px;
        margin: -2px -2px;
    }
    .container{
        max-width: 90vw;

    }
    .output table{
        font-size: 13px;
        width: 50vw;
    }
    .container form input[type="number"],select,label{
        width: 80vw;
        font-size: 18px;
    }
    .btn{
        width:30vw;
        font-size: 15px;
    }
}


